In [1]:
import sys
sys.path.append('d://the-recommender/DNN_for_YouTube_Recommendations')

from datasets.ml1m_dataset import Ml1mDataset 
from feature_process import Features

#INFO: unit test & EDA

data_X, data_y = Ml1mDataset().load_ml1m()
print(data_X.shape)
print(data_y.shape)

WARNING:tensorflow:From c:\Users\yuanshuai\AppData\Local\anaconda3\envs\tensorflow2\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

(1000209, 9)
(1000209, 1)

In [2]:
#构造id序列特征
seq_data_x = Features().rating_sequences(data_X, 100)  #此处未进行数据清洗，只测试序列特征的构造，数据放在样本构造里。
seq_data_x.head()

   user_id                                         itemid_seq  itemid_seq_len
0        1  48|1566|1907|2355|2294|783|595|2687|745|588|1|...              52
1        2  1687|434|1544|1917|95|2126|292|736|2002|3257|2...             100
2        3  2081|104|3868|3552|2355|1641|1265|1259|1079|12...              50
3        4  1954|2951|1036|3418|1214|3702|1240|2692|2028|2...              20
4        5  288|3105|1485|1884|2029|229|551|353|1527|1909|...             100

In [3]:
seq_data_x["itemid_seq_len"].min()

19

In [4]:
seq_data_x.shape

(6040, 3)

In [5]:
seq_data_x.describe()

           user_id  itemid_seq_len
count  6040.000000     6040.000000
mean   3020.500000       73.555629
std    1743.742145       30.324457
min       1.000000       19.000000
25%    1510.750000       43.000000
50%    3020.500000       95.000000
75%    4530.250000      100.000000
max    6040.000000      100.000000

In [6]:
seq_data_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_id         6040 non-null   int64
 1   itemid_seq      6040 non-null   object
 2   itemid_seq_len  6040 non-null   int64
dtypes: int64(2), object(1)
memory usage: 141.7+ KB

In [7]:
seq_data_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_id         6040 non-null   int64
 1   itemid_seq      6040 non-null   object
 2   itemid_seq_len  6040 non-null   int64
dtypes: int64(2), object(1)
memory usage: 141.7+ KB