In [1]:
import sys
sys.path.append('d://the-recommender/DNN_for_YouTube_Recommendations')

from datasets.ml1m_dataset import Ml1mDataset 
from feature_processing import Features

WARNING:tensorflow:From c:\Users\yuanshuai\AppData\Local\anaconda3\envs\tensorflow2\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
##初始化参数。在main.py中使用argparse包接收解析参数，此处为了方便在jupyter中演示，将参数放在字典中。
parsed_args = {}
#解析dataset参数
parsed_args["data_path"] =  'd://the-recommender/DNN_for_YouTube_Recommendations/datasets/ml-1m/'
parsed_args["users_file"] =  'users.dat'
parsed_args["ratings_file"] =  'ratings.dat' 
parsed_args["movies_file"] =  'movies.dat'
parsed_args["sep"] =  '::'
parsed_args["header"] =  None

#解析样本参数
parsed_args["sample_output_file"] =  'd://the-recommender/DNN_for_YouTube_Recommendations/sample/__TFRecord/train.tfrecord' 

#解析模型保存参数
parsed_args["export_path"] =  'd://the-recommender/DNN_for_YouTube_Recommendations/SAVEDMODELS/savedmodel/default_signature_with_multiple_input_output'
parsed_args["export_path_multi"] = 'd://the-recommender/DNN_for_YouTube_Recommendations/SAVEDMODELS/savedmodel/multi_signature_with_multiple_input_output'

#解析特征hash参数
parsed_args["userid_hash_nums"] = 10000
parsed_args["itemid_hash_nums"] = 10000
parsed_args["zipid_hash_nums"] = 10000
parsed_args["gender_hash_nums"] = 10
parsed_args["age_hash_nums"] = 100
parsed_args["occupation_hash_nums"] = 100
parsed_args["seqlen_hash_nums"] = 100
parsed_args["hash_salt"] = 1024
parsed_args["vocab_size"] = 1000
parsed_args["seq_len"] = 5

#解析模型网络结构参数
parsed_args["userid_input_dim"] = 1
parsed_args["movieid_input_dim"] = 1
parsed_args["rated_movies_lastN_input_dim"] = 5
parsed_args["genres_input_dim"] = 6
parsed_args["zip_id_input_dim"] = 1
parsed_args["num_ratings"] = 6 
parsed_args["dense_size"] = 256    
parsed_args["embedding_out_dim"] = 64

#解析模型训练参数
parsed_args["batch_size"] = 64
parsed_args["epochs"] = 20 
parsed_args["validation_split"] = 0.2       
parsed_args["score_loss_weight"] = 1
parsed_args["rating_loss_weight"] = 1 
parsed_args["learning_rate"] = 1e-3

In [3]:
#加载数据集
data_loader = Ml1mDataset()
data_X, data_y = data_loader.load_ml1m(parsed_args)
print(data_X.shape)
print(data_y.shape)

(1000209, 9)
(1000209, 1)

In [4]:
#构造id序列特征
seq_data_x = Features().rating_sequences(data_X, 100)  #此处未进行数据清洗，只测试序列特征的构造，数据放在样本构造里。
seq_data_x.head()

   user_id                                         itemid_seq  itemid_seq_len
0        1  48|1566|1907|2355|2294|783|595|2687|745|588|1|...              52
1        2  1687|434|1544|1917|95|2126|292|736|2002|3257|2...             100
2        3  2081|104|3868|3552|2355|1641|1265|1259|1079|12...              50
3        4  1954|2951|1036|3418|1214|3702|1240|2692|2028|2...              20
4        5  288|3105|1485|1884|2029|229|551|353|1527|1909|...             100

In [5]:
seq_data_x["itemid_seq_len"].min()  #最多取100个评分电影序列，最小实际只有19个

19

In [6]:
seq_data_x.shape

(6040, 3)

In [7]:
seq_data_x.describe()

           user_id  itemid_seq_len
count  6040.000000     6040.000000
mean   3020.500000       73.555629
std    1743.742145       30.324457
min       1.000000       19.000000
25%    1510.750000       43.000000
50%    3020.500000       95.000000
75%    4530.250000      100.000000
max    6040.000000      100.000000

In [8]:
seq_data_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_id         6040 non-null   int64
 1   itemid_seq      6040 non-null   object
 2   itemid_seq_len  6040 non-null   int64
dtypes: int64(2), object(1)
memory usage: 141.7+ KB

In [9]:
seq_data_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_id         6040 non-null   int64
 1   itemid_seq      6040 non-null   object
 2   itemid_seq_len  6040 non-null   int64
dtypes: int64(2), object(1)
memory usage: 141.7+ KB